# Este es un ejemplo de como deberia quedar tu .env

SECRET_KEY=cambia_esta_clave_secreta
DEBUG=True

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
BREVO_SMTP_USER=a506e6001@smtp-brevo.com
BREVO_SMTP_PASSWORD=YBNFA5KUh4LVJvpZ
MI_CORREO_VERIFICADO=rutastj220@gmail.com