# Este es un ejemplo de como deberia quedar tu .env

SECRET_KEY=cambia_esta_clave_secreta
DEBUG=True

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
BREVO_SMTP_USER=a43a3e001@smtp-brevo.com
BREVO_SMTP_PASSWORD=xsmtpsib-f7fffe3e7ad2f4e71432506d0fb750c73297c9c8390db98760b29d668800f975-w1ydyvM6YcMHVt8h
MI_CORREO_VERIFICADO=jimenezderian81@gmail.com