# Este es un ejemplo de como deberia quedar tu .env

SECRET_KEY=cambia_esta_clave_secreta
DEBUG=True

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_gmail@gmail.com
EMAIL_HOST_PASSWORD=La contrasenia que te de al hacer la verificacion en dos pasos
EMAIL_RECIPENT=tu_gmail@gmail.com