<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel-ADMIN</title>
</head>
<body>
    
    <header>
        <nav>
            <strong>Rutas TJ</strong>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="#">Mapa</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><strong>Iniciar sesion/Administrador</strong></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Seccion principal del admin</p>
    </main>

    <footer>

    </footer>
</body>
</html>