{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <nav>
            <strong>Rutas TJ</strong>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'mapa' %}">Mapa</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><strong>Iniciar sesion/Administrador</strong></li>
                <li><a href="{% url 'admin_panel' %}">Panel Admin</a></li>
            </ul>
        </nav>
        <h2>Iniciar sesion</h2>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label>Usuario:</label>
            <input type="text" name="username"><br>

            <label>Contraseña:</label>
            <input type="password" name="password"><br>

            <button type="submit">Entrar</button>
        </form>
    </main>

    <footer>

    </footer>
</body>
</html>