{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Rutas TJ</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <header>
        <nav>
            <strong>Rutas TJ</strong>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><strong>Mapa</strong></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'login' %}">Iniciar sesion/Administrador</a></li>
            </ul>
        </nav>
    </header>

<main>
    <h1>Panel de Control de Rutas</h1>

    <div id="map" style="height: 400px; width: 100%; margin-bottom: 20px;"></div>

    <section id="controles">
        <button onclick="limpiarMapa()">Limpiar Puntos</button>
        
        <div style="margin-top: 10px;">
            <label>Visualizar Ruta:</label>
            <select id="rutaSelect">
                <option value="">-- Selecciona una ruta --</option>
            </select>
        </div>
    </section>

    <hr>

    <section id="tabla-seccion">
        <h2>Listado de Rutas</h2>
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaRutas">
                </tbody>
        </table>
    </section>
</main>

<footer>

</footer>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'rutas/js/mapa.js' %}"></script>

</body>
</html>