{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Rutas TJ</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'rutas/css/mapa.css' %}">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <i class="fas fa-bus"></i> Rutas TJ
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><strong>Mapa</strong></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'login' %}" class="btn-admin">Iniciar sesion/Administrador</a></li>
            </ul>
        </nav>
    </header>

<main>
    <h1>Panel de Control de Rutas</h1>

    <div id="map" style="height: 400px; width: 100%; margin-bottom: 20px;"></div>

    <section id="controles">
        <button onclick="limpiarMapa()">Limpiar Puntos</button>
    </section>

    <hr>

    <section id="tabla-seccion">
        <h2>Listado de Rutas</h2>
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tablaRutas">
                </tbody>
        </table>
    </section>
</main>

<footer>

</footer>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'rutas/js/mapa.js' %}"></script>

</body>
</html>